body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1638202993928-7267aad84c31?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQ1fHxtZWRpY2FsJTIwY2FyZXxlbnwwfHx8fDE2ODI4ODkxMjU&ixlib=rb-4.0.3&w=1500");

    /* Add the blur effect */
    filter: blur(30px);
    -webkit-filter: blur(30px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.title {
    top: 180px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 90px;
    align-self: center;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.title-result {
    top: 100px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 90px;
    align-self: center;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: 300px;
    height: 100px;
}
